h1 {
    color: red;
}

.content {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: black;
}

.main {
    display: flex;
}

.sidebar, .details {
    border: 2px solid black;
}